<div class="container login-container">
  <div class="row">
    <div class="col-6 offset-3 login-rounded" >
      <form action="" class="form-signin form-login" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="form-label-group form-group-separate" >
          <input 
            type="text" 
            id="email" 
            name="email" 
            class="form-control" 
            placeholder="Usuario" 
            required 
            [(ngModel)]="user">
        </div>
        <div class="form-label-group form-group-separate">
          <input 
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            placeholder="Clave" 
            required
            [(ngModel)]="password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>