.login-container{
  padding-top: 20%;
}

.form-login{
  padding-top: 50px; padding-bottom: 50px
}

.login-rounded{
  border-radius: 10px; 
  background-color: #ced4da
}

.form-group-separate{
  margin-bottom: 1rem
}
