<div class="container" style="padding-top: 70px">
  <div class="row">
    <div class="col-3">
      <div class="form-label-group form-group-separate" >
        <input 
          type="number" 
          class="form-control" 
          placeholder="Filtrar" 
          [(ngModel)]="_filterValue">
      </div>
    </div>
    <div class="col-3">
      <button [ngClass]="{'btn-primary': _filterOption === 'like', 'btn-secondary': _filterOption !== 'like'}" class="btn btn-block" style="color: white" (click)="_filterOption = 'like'">like</button>
    </div>
    <div class="col-3">
      <button [ngClass]="{'btn-primary': _filterOption === 'greater', 'btn-secondary': _filterOption !== 'greater'}" class="btn btn-block" style="color: white" (click)="_filterOption = 'greater'">>=</button>
    </div>
    <div class="col-3">
      <button [ngClass]="{'btn-primary': _filterOption === 'less', 'btn-secondary': _filterOption !== 'less'}" class="btn btn-block" style="color: white" (click)="_filterOption = 'less'"><=</button>
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-3">
      <button [ngClass]="{'btn-primary': _field === 'bookingId', 'btn-secondary': _field !== 'bookingId'}" 
        class="btn btn-block" 
        style="color: white" 
        (click)="_field = 'bookingId'">Buscar por Booking Id</button>
    </div>
    <div class="col-3">
      <button [ngClass]="{'btn-primary': _field === 'bookingPrice', 'btn-secondary': _field !== 'bookingPrice'}" 
        class="btn btn-block" 
        style="color: white" 
        (click)="_field = 'bookingPrice'">Buscar por Booking Price</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">BookingId</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha de Creación</th>
        <th scope="col">Dirección</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let booking of _bookings | bookingFilter:_filterValue:_filterOption:_field">
        <tr>
          <td>{{booking.bookingId}}</td>
          <td>{{booking.bookingFields.firstName}} {{booking.bookingFields.lastName}}</td>
          <td>{{booking.bookingTime | date}}</td>
          <td>{{booking.bookingFields.location.streetAddress}}</td>
          <td>{{booking.bookingPrice | currency}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>